
.footer{
    padding: 10rem 0rem 5rem 0rem;
    color: $color-white;
    background-color: rgba($color-black , .6);
    &__logo-box{
        text-align: center;
        padding-bottom: 7rem;
    }
    &__column{
        margin: 0 auto;
        width: 95%;
        padding-top: 1.2rem;
        border-top: 1px solid $color-white;
    } 
    &__privacy-policy{
        word-spacing: 3px;
    }
}